#### Data Cleaning

In [4]:
import sys
import os
import json 
import pandas as pd 

sys.path.append(os.path.abspath(".."))
from src.data_cleaning import clean_dataframe

In [7]:
with open(r"../data/rawdata.json", "r") as f:
    data_train = json.load(f)

raw_df = pd.DataFrame(data_train)
raw_df.head()

                                             reviews  sentiments
0  I bought this belt for my daughter in-law for ...           1
1  The size was perfect and so was the color.  It...           1
2  Fits and feels good, esp. for doing a swim rac...           1
3  These socks are absolutely the best. I take pi...           1
4  Thank you so much for the speedy delivery they...           1

In [8]:
clean_df = clean_dataframe(raw_df, text_column="reviews")
clean_df.head()

                                             reviews  sentiments
0  i bought this belt for my daughter inlaw for c...           1
1  the size was perfect and so was the color it l...           1
2  fits and feels good esp for doing a swim race ...           1
3  these socks are absolutely the best i take pil...           1
4  thank you so much for the speedy delivery they...           1

In [13]:
import numpy as np
from sklearn.model_selection import train_test_split
import os

X = clean_df['reviews'].values
y = clean_df['sentiments'].values

# Step 1: Split 70% train, 30% temp (to be split into val/test)
X_train, X_temp, y_train, y_temp = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=y
)

# Step 2: Split temp into 50% validation, 50% test -> 15% each of total
X_val, X_test, y_val, y_test = train_test_split(
    X_temp, y_temp, test_size=0.5, random_state=42, stratify=y_temp
)

repo_root = os.path.abspath(os.path.join(os.getcwd(), ".."))  
processed_folder = os.path.join(repo_root, "data", "processed")
os.makedirs(processed_folder, exist_ok=True)

np.save(os.path.join(processed_folder, "X_train.npy"), X_train)
np.save(os.path.join(processed_folder, "y_train.npy"), y_train)
np.save(os.path.join(processed_folder, "X_val.npy"), X_val)
np.save(os.path.join(processed_folder, "y_val.npy"), y_val)
np.save(os.path.join(processed_folder, "X_test.npy"), X_test)
np.save(os.path.join(processed_folder, "y_test.npy"), y_test)